.customBtn {
  height: 50px;
  background: #ff0000;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
