.headerContainer {
  background: #ffffff;
  border-radius: 0px;
  width: 100%;

  border-radius: 0px 0px 10px 10px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.logoResponsive {
  max-width: 200px;
  width: 100%;
  height: auto;
}

.circleBtn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: rgba(1, 188, 246, 0.2);
  border: "0px";
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleBtn2 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: rgba(255, 0, 0, 0.15);
  border: "0px";
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleBtn3 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #cccccc;
  border: "0px";
  display: flex;
  justify-content: center;
  align-items: center;
}
