@import "~antd/dist/antd.css";
@import "~react-image-gallery/styles/css/image-gallery.css";
body {
  background: #e5e5e5;
  width: 100vw;
  font-family: "Lato", sans-serif;
}
Row {
  margin: 0;
  padding: 0;
}

col {
  margin: 0;
  padding: 0;
}
.bodyContainer {
  margin: 0px 20px 0px 20px;
}
